﻿@using Board.Common;
@using Board.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var article = ViewBag.Article[0];
    ViewBag.Title = article.Title;
    cls_Date cls_date = new cls_Date();
}


    <Link rel="stylesheet" href="~/Layouts/SpecialLayout/Content/table_StyleSheet.css" />
    <style>
        a{ padding: 15px; }
    </style>
    <script type="text/javascript">
        function deleteConfirm() {
            if (confirm("정말 삭제하시겠습니까?")) {
                location.href = "/Article/ArticleDelete?type=@article.Type&idx=@article.Index"
            }
            return false;
        }

        // 댓글 추가
        function add_fix_Comment(txtarea_id, idx, parentIdx) {
            //if (idx == 0) idx = null;
            let txt = $('textArea#'+ txtarea_id).val();
            if (txt == "") alert("내용을 입력하세요.");
            else {
                $.ajax({
                    type: "POST",
                    url: "/Article/ArticleComment_add_fix?type=@article.Type&idx=@article.Index",
                    data: {
                        "idx" : idx,
                        "authorID": '@Session["ID"]',
                        "articleIdx": @article.Index,
                        "parentIdx": parentIdx,
                        "contents": txt
                    },
                    dataType: "json", // 요청에 대한 응답결과의 데이터형식

                    // 성공 시 익명 함수로 데이터 처리
                    success: function (data) {
                        if (data == "OK") {
                            txt = ""
                        }
                    },

                    // 실패 시 반환 데이터 처리
                    error: function (data) {
                        if (data != "OK") alert("작성에 실패했습니다.");
                    }
                });
                $('textArea#' + txtarea_id).val(txt);
                location.reload();
            }
        }

        // 댓글 수정
        function fixComment(tr_idx, comment_idx, parent_idx) {
            let comment = $("#tr_" + tr_idx);
            let tmp = comment.contents;
            let text = comment.children()[1].textContent;
            comment.empty();
            comment.append(`<td style='white-space: pre;'>↳ &#9;@Session["ID"]</td><td><textarea id='cocoment'>${text}</textarea></td><td><button onclick="add_fix_Comment('cocoment', ${comment_idx}, ${parent_idx})";>확인</button></td><td><button onclick="location.reload();";>취소</button></td>`);

            }


        // 댓글 입력창 추가
        function newCommentLine(tr_index, parentIdx) {
            // 초기화를 함으로써 대댓글 입력행을 한 개만 유지되도록 만든다. ☆★☆★☆★
            $(".tr_reply").remove(); 

            $("#tr_" + tr_index).after(`<tr class="tr_reply"><td style='white-space: pre;'>↳ &#9;@Session["ID"]</td><td><textarea id='cocoment'></textarea></td><td><button onclick="add_fix_Comment('cocoment', null, ${parentIdx})";>확인</button></td></tr>`)

        }

        function deleteComment(commentIdx) {
            if (confirm("정말 삭제하시겠습니까?")) {
                $.ajax({
                    type: "POST",
                url: "/Article/ArticleComment_del?type=@article.Type&idx=@article.Index",
                    data: {
                        "commentIdx": commentIdx,
                    },
                    dataType: "json", // 요청에 대한 응답결과의 데이터형식

                    // 성공 시 익명 함수로 데이터 처리
                    success: function (data) {
                        if (data == "OK") {
                            alert("삭제 되었습니다.")
                            location.reload();
                        }
                    },

                    // 실패 시 반환 데이터 처리
                    error: function (data) {
                        if (data != "OK") alert("삭제에 실패했습니다.");
                    }
                });
            }
            
        }
    </script>


    <div>
        <br />
        <br />
        <table class="bordertable">
            <thead>
                <tr>
                    <th>제목</th>
                    <th>@article.Title.ToString()</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>작성자</td>
                    <td>@article.AuthorNickName.ToString()</td>
                </tr>
                <tr>
                    <td>조회수</td>
                    <td>@article.ReadCnt.ToString()</td>
                </tr>
                <tr>
                    <td>내용 </td>
                    <td>@article.Contents.ToString()</td>
                </tr>

                <tr>
                    <td>작성일 </td>
                    <td>@cls_date.TimeOrDateTime(article.RegDate)</td>
                </tr>
                @if (article.RegDate.ToString() != article.ModDate.ToString())
                {
                    <tr>
                        <td>수정일 </td>
                        <td>@cls_date.TimeOrDateTime(article.ModDate)</td>
                    </tr>
                }

            </tbody>
        </table>
        <br />
        <a href="@Url.Action("ArticleList", "Article", new { @type = article.Type.ToString() })">목록</a>
        <a href="@Url.Action("ArticleForm", "Article", new { @type = article.Type.ToString(), @idx = article.Index })">수정</a>
        <a href="javascript:deleteConfirm();">삭제</a>

        <br />
        <br />
        <!-- 댓글 출력 부분-->
        <table class="commenttable" , id="commenttable">
            <thead>
                <tr>
                    <th style="padding:10px;">댓글</th>
                    <th colspan="3">
                        <form id="comment" method="post" enctype="multipart/form-data">
                            <textarea name="editor" id="commentEditor" rows="5" style="width:100%; height:100px; border:0;"></textarea>
                        </form>
                    </th>
                    <th>
                        <button onclick="add_fix_Comment('commentEditor', null, 0)">확인</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr> <td> </td></tr>
                @if (ViewBag.commentList0 != null && ViewBag.commentList0.Count != 0)
                {
                    int i = 0;
                    foreach (var item in ViewBag.commentList0 )
                    {
                        
                        var regDate = cls_date.TimeOrDateTime(item[5]);
                        var modDate = cls_date.TimeOrDateTime(item[6]);
                        string date = item[5] == item[6] ? regDate : regDate + "<br/>" + modDate;
                <tr id='tr_@i'>
                    <!--작성자-->
                    <td>@item[1] </td>
                    <!--내용-->
                    @if (item["isDel"] == true)
                    {
                        <td><p style='color:red'>삭제된 내용입니다.</p></td> 
                    }
                    else
                    {
                        <td>@Html.Raw(item[4].Replace("\n", "<br/>"))</td>
                        <!--작성일시/수정일시-->
                        <td>@Html.Raw(date) </td>
                        <td>
                            <a class="cocoment_btn" href="javascript:newCommentLine(@i, @item[0])">댓글</a>
                            @if (Session["ID"].ToString() == item[1])
                            {
                                <a class="cocoment_btn" href="javascript:fixComment(@i, @item[0], 0)">수정</a>
                                <a class="cocoment_btn" href="javascript:deleteComment(@item[0])">삭제</a>
                            }

                        </td>
                    }

                </tr>
                        i++;
                        foreach (var item2 in ViewBag.commentList1)
                        {
                            if (item2[3] == item[0])
                            {
                                var regDate2 = cls_date.TimeOrDateTime(item2[5]);
                                var modDate2 = cls_date.TimeOrDateTime(item2[6]);
                                string date2 = item[5] == item[6] ? regDate2 : regDate2 + "<br/>" + modDate2;
                <tr id='tr_@i'>
                    <!--대댓글-->
                    <td style="white-space: pre;">↳ &#9; @item2[1] </td> <!--작성자-->
                    @if (item2["isDel"] == true)
                    {
                        <td><p style='color:red'>삭제된 내용입니다.</p></td>
                    }
                    else
                    {
                        <td class="coco">@Html.Raw(item2[4].Replace("\n", "<br/>"))</td><!--내용-->
                        <td>@Html.Raw(date2)</td> <!--작성일시/수정일시-->
                        <td colspan="2">
                            @if (Session["ID"].ToString() == item2[1])
                            {
                                <a href="javascript:fixComment(@i, @item2[0], @item2[3])" style="white-space: pre;">&#9;수정</a>
                                <a class="cocoment_btn" href="javascript:deleteComment(@item2[0])" style="white-space: pre;">&#9;삭제</a>
                            }
                        </td>
                    }

                </tr>
                                i++;
                            }

                        }
                    }
                }
            </tbody>
        </table>

    </div>