﻿@using Board.Common;

@{
    ViewBag.Title = "Articles";
    String type = Request.QueryString["type"] ?? "";
    String pageNo = Request.QueryString["pageNo"] ?? "1";
    String pageSize = Request.QueryString["pageSize"] ?? "10";
    if (type == "")
    {
        Response.Redirect("/Home/Index");
    }
    cls_Date date = new cls_Date();
}


<meta name="viweport" content="width=device-width" />
<Link rel="stylesheet" href="~/Layouts/SpecialLayout/Content/table_StyleSheet.css" />
<br />
<br />
<h2>게시판 @type</h2>
<div> 안녕하세요, @Session["ID"] 님</div>
@{
    if (type == "1")
    {
        <div> <a href="@Url.Action("ArticleList", "Article", new { @type = "2" })">게시판 2 로 이동하기</a></div>
    }
    else if (type == "2")
    {
        <div> <a href="@Url.Action("ArticleList", "Article", new { @type = "1" })">게시판 1 로 이동하기</a></div>
    }
}


<br />
<select id="dataPerPage">
    <option value="10">10개씩 보기</option>
    <option value="15">15개씩 보기</option>
    <option value="20">20개씩 보기</option>
</select>
<br /><br />
<div>
    <table class="bordertable">
        <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody id="tablebody">
            
            @foreach (var item in ViewBag.ArticleList)
            {
                if (item["isTop"] == true)
                {
                    <tr class="Top">
                        <!--0:ShowNum, 1:totalPage, 2:RowNumber, 3:Idx, 4:Type, 5:AuthorID, 6:Title
                7:Contents, 8:ReadCnt, 9:RegDate, 10:ModDate, 11:isDel, 12:isTop, 13:AuthorNickName-->

                        <td>@item["Idx"]</td>
                        <td><a href="@Url.Action("ArticleView", "Article", new { @type = type, @idx = item["Idx"] })">@item["Title"]</a></td>
                        <td>@item["AuthorNickName"]</td>

                        <td>@date.DateOrTime(item["RegDate"])</td>
                        <td>@item["ReadCnt"]</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <!--0:ShowNum, 1:totalPage, 2:RowNumber, 3:Idx, 4:Type, 5:AuthorID, 6:Title
                7:Contents, 8:ReadCnt, 9:RegDate, 10:ModDate, 11:isDel, 12:isTop, 13:AuthorNickName-->

                        <td>@item["Idx"]</td>
                        <td><a href="@Url.Action("ArticleView", "Article", new { @type = type, @idx = item["Idx"] })">@item["Title"]</a></td>
                        <td>@item["AuthorNickName"]</td>

                        <td>@date.DateOrTime(item["RegDate"])</td>
                        <td>@item["ReadCnt"]</td>
                    </tr>
                }

            }

        </tbody>
    </table>
    <br />
    <ul id="pagingul"></ul>
    <br />
    <br />
    <ul id="displayCount"></ul>
</div>
<a href="@Url.Action("ArticleForm", "Article", new { @type = type?? "" })">추가</a>

<script>
    let totalData; // 총 데이터 수
    let dataPerPage = 10; // 한 페이지에 나타낼 글의 수
    let pageCount = 10; // 페이징에 나타낼 페이지 수
    let globalCurrentPage = 1; // 현재 페이지
    let dataList;
    $(document).ready(function() {
        $("#dataPerPage").val(@pageSize);
        paging();
    });


    @*$(document).ready(function () {
        //dataPerPage 선택 값 가져오기
        dataPerPage = $("#dataPerPage").val();

        $.ajax({
            // ajax로 데이터 가져오기
            method: "POST",
            url: "/Article/ArticleL/",
            data: {
                type: @Request.QueryString["type"]
            },
            dataType: "json",
            success: function (data) {
                //totalData 구하기
                dataList = data;
                totalData = dataList.length;

                //글 목록 표시 호출 (테이블 생성)
                displayData(1, dataPerPage);

                //페이징 표시 호출
                paging(totalData, dataPerPage, pageCount, 1);
            }
        });
    });*@


    function paging() {

        let totalPage = @ViewBag.ArticleList[0]["TotalPage"];
        let type = @type;
        let pageNo = @pageNo;
        let pageSize = @pageSize;
        let pageBarNum = 10;

        // 화면에 보이는 마지막 last, 첫번째 first 번호 가져오기
        let last = Math.ceil(pageNo / pageBarNum) * pageBarNum ;
        let first = last - pageBarNum + 1;

        // 페이지 바에 나올 수 pageBarNum이 총 페이지 TotalPage보다 큰 경우 마지막 페이지를 줄임.
        if (last > totalPage) { last = totalPage; }

        // 시작이 0 보다 작다면 1로 고정
        if (first <= 0) { first = 1; }

        // 다음, 이전 페이지바로 넘어가기 위한 변수 next, prev 세팅
        let next = last + 1;
        let prev = first - 1;

        let pageHtml = "";

        if (prev > 0) {
            pageHtml += "<li><a href='#' id='prev'>이전</a></li>"
        }

        //페이징 번호 표시
        for (var i = first; i <= last; i++) {
            if (pageNo == i) {
                pageHtml += `<li class='on'><a id='${i}' >${i}</a></li>`;
            } else {
                pageHtml += `<li><a href='#' id='${i}' >${i}</a></li>`;
            }
        }

        if (last < totalPage && totalPage > 9) { pageHtml += "<li><a href='#' id='next'>다음</a></li>"; }

        $("#pagingul").html(pageHtml);
        let displayCount = "";
        displayCount = `현재 ${pageNo} 페이지 / 총 @ViewBag.ArticleList[0]["TotalRow"] 건`
        $("#displayCount").text(displayCount);

        //페이징 번호 클릭 이벤트
        $("li a").click(function () {
            let $id = $(this).attr("id");
            let selectedPage = $(this).text();

            if (selectedPage == "이전") { selectedPage = pageNo - pageBarNum; }
            else if (selectedPage == "다음") { selectedPage = pageNo + pageBarNum; }

            location.href = `/Article/ArticleList?type=${type}&pageNo=${selectedPage}&pageSize=${pageSize}`


        });
    }

    // 현재페이지와 페이지당 글 수 반영
    //function displayData(currentPage, dataPerPage) {
    //    let charHtml = "";

    //    currentPage = Number(currentPage);
    //    dataPerPage = Number(dataPerPage);

    //    for (
    //        var i = (currentPage - 1) * dataPerPage;
    //        i < (currentPage - 1) * dataPerPage + dataPerPage;
    //        i++
    //    ) {
    //        charHtml +=
    //            "<tr><td>" +
    //            dataList[i].Idx +
    //            "</td><td>" +
    //            dataList[i].Title +
    //            "</td><td>" +
    //            dataList[i].NickName +
    //            "</td><td>" +
    //            dataList[i].RegDate.toString() +
    //            "</td><td>" +
    //            dataList[i].ReadCnt +
    //            "</td></tr>";
    //    }
    //    $("#tablebody").html(charHtml);
    //}

    // 페이지 당 개수 수정 시 이벤트
    $("#dataPerPage").change(function () {
        dataPerPage = $("#dataPerPage").val();
        location.href = `/Article/ArticleList?type=@type&pageNo=@pageNo&pageSize=${dataPerPage}`;

    });

</script>
