﻿@model Board.Models.Article

@{
    if (ViewBag.Atitle == "") { ViewBag.Title = "New Article"; }
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<script type="text/javascript">
        function Cancle() {
            if (confirm("지금 돌아가면 모든 내용을 잃게 됩니다.\n 돌아 가시겠습니까?")) {
                @*location.href = '@Url.Action("ArticleDelete", "Article", new { @type = article.Type.ToString(), @idx = article.Index })'*@
                location.href = "/Article/ArticleList?type=@ViewBag.Type "
            }
            return false;
        }
</script>

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("ArticleForm", "Article", FormMethod.Post, new { @type = ViewBag.Type, @idx = ViewBag.index }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Article</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "제목을 입력하세요",
           @Value = ViewBag.Atitle }
       })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Contents, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Contents, new { htmlAttributes = new { @class = "form-control text-box multie-line", @Value = ViewBag.contents } })
            @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.type } })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.isTop, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.isTop, new { htmlAttributes = new { @Value = ViewBag.isTop } })
                @Html.ValidationMessageFor(model => model.isTop, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.isDel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.isDel, new { htmlAttributes = new { @Value = ViewBag.isDel } })
                @Html.ValidationMessageFor(model => model.isDel, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.Index, new { @Value = ViewBag.index })
    @Html.HiddenFor(model => model.AuthorID, new { @Value = ViewBag.authorID })
    @Html.HiddenFor(model => model.ReadCnt, new { @Value = ViewBag.ReadCnt  })
    @Html.HiddenFor(model => model.RegDate, new { @Value = ViewBag.regDate })



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>

}

<div>
    <a href="javascript:Cancle();">목록으로</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
