﻿body {
    padding: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 5px;
    padding: 0 0 0 0;
    border: 0;
    float: left;
}

.coco {
    padding-left: 40px !important;
}

.bordertable th {
    padding-left: 20px !important;
    background-color: #f7f8fa;
    text-align: center;
}

.bordertable td {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.bordertable th, .bordertable td {
    font-family: '나눔고딕',NanumGothic,'맑은고딕',MalgunGothic,'돋움',Dotum,Helvetica,sans-serif;
    font-size: 12px;
    border: 1px solid #ededed !important;
    font-weight: normal;
    line-height: 19px;
    color: #20232;
    padding-top: 9px !important;
    padding-bottom: 7px !important;
    text-align: center !important;
}

.commenttable th {
    background-color: #f7f8fa;
    text-align: center;
}

.commenttable td {
    padding-left: 20px;
    padding-right: 20px;
}

.commenttable th, .commenttable td {
    font-family: '나눔고딕',NanumGothic,'맑은고딕',MalgunGothic,'돋움',Dotum,Helvetica,sans-serif;
    font-size: 12px;
    border-bottom: 1px solid #ededed !important;
    font-weight: normal;
    line-height: 19px;
    color: #20232;
    padding-top: 9px !important;
    padding-bottom: 7px !important;
    text-align: left !important;
}

.cocoment_btn a {
    padding-left: 25px;
    padding-right: 25px;
}

.on a {
    color:red;
    font-weight:bold;
}

.Top td {
    background-color: lightgray;
    font-weight: bold;
}

