﻿@{
    // shared의 _Layout에서 아래 내용을 불러와 Title로 사용함.
    ViewBag.Title = "테스트 로그인 페이지";
}

<h2>LoginView</h2>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <script language="javascript" type="text/javascript">
    //<![CDATA[
        var HpNo;
        var $txt_UserName, $pas_PassWord;
        $(document).ready(function () {

//            $(window.document).on("contextmenu", function (event) { return false; }); //우클릭방지
//            $(window.document).on("selectstart", function (event) { return false; }); //더블클릭을 통한 선택방지
//            $(window.document).on("dragstart", function (event) { return false; }); //드래그

            $(".login_area .input_login").focus(function () {
                $(this).css("border-color", "#1a73b4");
            });
            $(".login_area .input_login").focusout(function () {
                $(this).css("border-color", "#d2d2d2");
            });


            $txt_UserName = $("input#txt_UserName");
            $pas_PassWord = $("input#pas_PassWord");
            $txt_UserName.focus();

            $("#txt_UserName").keypress(function (e) {
                if (e.which == 13) {
                    LoginCheck();
                }
            });

            $("#pas_PassWord").keypress(function (e) {
                if (e.which == 13) {
                    LoginCheck();
                }
            });



            return;
        });


        function LoginCheck() {
            if ($("input#txt_UserName").val() == "") {
                alert("아이디를 입력하세요!");
                $txt_UserName.focus();

                if ('undefined' != typeof (event)) { event.returnValue = false };
                return false;
            }
            if ($("input#pas_PassWord").val() == "") {
                alert("패스워드를 입력하세요!");
                $pas_PassWord.focus();

                if ('undefined' != typeof (event)) { event.returnValue = false };
                return false;
            }

            this.frmLogin.submit();

        }


        function OtherLogout() {
            var msg = '이미 다른 PC에서 로그인 중인 사용자 입니다. 계속하시겠습니까? \n\n※ 계속 진행할 경우, 다른 PC 로그인은 종료됩니다.';

            if (confirm(msg)) {

                $.ajax({
                    url: "/Login/mf_LogOut",
                    type: "post",
                    data: ({ UserName: $("#txt_UserName").val() }),
                    success: function (data) {
                        mf_StartSMS();

                    },
                    error: function (e) { alert("실패"); }
                });
            }
        }

    </script>
</head>
<body>
    <input type="hidden" id="hid_Auth" value="" />
    <div id="wrapper" class="mainLif">
        <!--로고,타이틀//-->
		<h1><img src="/images/logo.jpg" alt="Test 로그인 페이지" /></h1>
        <h2>
			<span class="txt_01">Admin</span>
			<span class="txt_02">관리자 시스템</span>
		</h2>
        <!--//로고,타이틀-->
		<!--로그인//-->
		<div id="loginBox">
			<div class="inputArea">
				<fieldset>
					<legend>로그인</legend>
                    <form id="frmLogin" name="frmLogin" method="post" action="@Url.Action("Index", "Login")">
					    <div class="idpw">
						    <p><label for="txt_UserName">ID</label><input class="inputLogin" id="txt_UserName" name="txt_UserName" type="text" placeholder="아이디를 입력하세요." /></p>
						    <p><label for="pas_PassWord">PW</label><input class="inputLogin" id="pas_PassWord" name="pas_PassWord" type="password" placeholder="비밀번호를 입력하세요." /></p>
					    </div>
					    <a class="btnLogin" id="btnLogin" href="javascript:LoginCheck();">LOGIN</a>
                    </form>
				</fieldset>
			</div>
			<p class="infoTxt">후움;</p>
		</div>
		<!--//로그인-->
    </div>
</body>
</html>